:root {
    --halloween-black: #1C1C1C;
    --halloween-orange: #F4831B;
    --halloween-purple: #902EBB;
    --halloween-green: #63C328;
    --halloween-yellow: #EEEB27;
    --halloween-red: #D02823;
}

body {
    font-size: 20px;
    line-height: 25px;
}

.height-100 {
    height: 100%;
}

.height-45 {
    height: 45%;
}

.carus{
    flex-wrap: wrap;
}

.navbar-toggler{
background-color:white;
}

.button-halloween-orange {
    background-color: var(--halloween-orange) !important;
    color: var(--halloween-black) !important;
}

.bg-halloween-black {
    background-color: var(--halloween-black);
    color: var(--halloween-orange);
}

.bg-halloween-black a {
    color: var(--halloween-orange);
    opacity: 0.75;
}

.bg-halloween-black a:hover,
.bg-halloween-black a:focus,
.bg-halloween-black a:visited {
    color: orange;
    opacity: 1;
}

h4{
    background-color: darkorange;
    color: var(--halloween-black);
}

.accordion {
    background-color: rgba(28, 28, 28, 1);
}

a:hover{
color: white;
}

.accordion-button:focus{
    background-color: orange;
    border-color:brown;
    box-shadow: darkorange;
}


.collapse{
    color: white;
    background-color: var(--halloween-black);
}

#magazines, a {
    text-decoration: none;
    color: orange;
    
}

.text{
    margin-left: 15%;
    color:orange;
}

.text2{
    color:orange;
}

li{
    list-style: none;
}
#magazines:hover{
    color:white;
}

.ex{
    margin-left: 40%;
    color:var(--halloween-black);
}
.ex:hover{
    color:var(--halloween-black);
}

#headingTwo{
    color: orange;
}

.accordion-item{    
    background-color:darkorange;
    border: 1px solid darkorange;
}

.other{
background-color: var(--halloween-black);
padding: 5%;
}

h1, h2{
    color:orange;
}

.container-halloween {
    padding: 50px 0;
    min-height: 100vh;
    background-color: black;
}

.container-halloween-home {
    background: linear-gradient(180deg, rgba(28, 28, 28, 1) 0%, rgba(12, 2, 0) 100%);
    color:#ca6d1c;
}

.container-halloween-home img {
    width: 50%;
}

.container-halloween-teams {
    color: var(--halloween-black);
    flex-wrap: wrap;
}

.container-halloween-teams img {
    width: 50%;
    margin: auto;
    padding: 25px;
}

.container-halloween-teams .card {
    height: 100%;
}

.container-halloween-teams .card-body {
    background-color: var(--halloween-black);
    color: var(--halloween-orange);
}

.container-halloween-banner {
    background-image: url("assets/icons/orange-halloween-banner-with-pumpkin-spider-bats/21309.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    width: 100vw;
}

.container-halloween-footer {
    background-color: var(--halloween-black);
    color: var(--halloween-orange);
}

.container-halloween-footer a,
.container-halloween-footer a:hover,
.container-halloween-footer a:focus,
.container-halloween-footer a:visited {
    color: var(--halloween-orange);
    text-decoration: none;
}



@media (max-width: 768px) {
    .button-halloween-orange {
        width: 100%;
    }
}